# CODEOWNERS
# See https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything
* @GameBayoumy

# Workflows and automation
/.github/ @GameBayoumy

# Source code
/src/ @GameBayoumy

# App routes
/app/ @GameBayoumy

# Documentation
/docs/ @GameBayoumy

# Sensitive config
.env* @GameBayoumy